<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Tumi Mundo</title>
</head>

<body>

    <h1>All stories</h1>

    <label>
        <input type="search" role="searchbox" placeholder="search for stories">
        <button>[SVG]</button>
    </label>

<button>Animal
    <la>
        <li><a href="?filter=animal.6"></a></li>
        <li><a href="?filter=animal.7"></a></li>
        <li><a href="?filter=animal.8"></a></li>
    </la>
</button>
<button>Language
    <la>
        <li><a href="?filter=language.1"></a></li>
        <li><a href="?filter=language.2"></a></li>
        <li><a href="?filter=language.5"></a></li>
        <li><a href="?filter=language.6"></a></li>
        <li><a href="?filter=language.7"></a></li>
    </la>
</button>
<button>Season
    <la>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </la>
</button>
<button>Sorting
    <la>
        <li><a href="?sort=season"></a></li>
        <li><a href="?sort=animal"></a></li>
    </la>
</button>
   

    <main>
        <ul>
            {% for story in story %}
            <li>
                    <h2>{{ story.title }}</h2>
                    <p>{{ story.summary }}</p>
                   <audio controls src="https://fdnd-agency.directus.app/assets/">
                    </audio>
                    <img src="https://fdnd-agency.directus.app/assets/{{ story.image }}">
                {% endfor %}
            </li>
        </ul>
    </main>