<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <h1>All stories</h1>

        <label>
            <input type="search" role="searchbox" placeholder="search for stories">
            <button>[SVG]</button>
        </label>

        <details>sorting</details>
        <details>language</details>
        <details>season</details>
        <details>Animal</details>
    </main>

</body>

</html>